<li><%= link_to "Добавить ребёнка", new_user_child_path(@user), class: "btn btn-success" %></li>

<div>
  <% @children.each do |child|%>
    <p>Имя ребёнка: <%= child.name %></p>
    <p>Дата рождения: <%= child.birthday.strftime("%d of %B, %Y") %></p>
    <p><%= link_to "Карта вакцинации - #{child.name}", user_child_vaccine_path(@user, child, child.id), class: "btn btn-success" %></p>
    <%= link_to 'Удалить ребёнка из списка', user_child_path(@user, child), method: :delete, class: "btn btn-danger", data: { confirm: 'Удалить ребёнка из списка?' } %>
    <p>----------------</p>
  <% end %>
</div>
