<div class="container text-center">
  <%= content_tag(:div, flash[:notice], :id => "flash_notice", class: "alert alert-notice") if flash[:notice] %>
  <div class="p-3 mb-5">
    <h2 class="text-center text-primary pt-4 pb-3">Регистрация</h2>
    <p class="text-small text-black-50">Для начала регистрации Вам нужно выбрать профиль и затем авторизирваться через
      Google аккаунт</p>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <div class="row pt-3">
        <div class="col-6">
          <div class="form-check">
            <%= radio_button_tag 'user[type]', 'pacient', false, id: "btn-check-pacient", class: "btn-check" %>
            <%= f.label :choose_role, image_tag("pacient.png", size: "200x200", alt: "pacient_choose", class: "rounded-circle"), class: "btn role-image btn-primary rounded-circle", for: "btn-check-pacient" %>
            <p class="fs-5">Пациент</p>
          </div>
        </div>
        <div class="col-6">
          <div class="form-check">
            <%= radio_button_tag 'user[type]', 'doctor', true, id: "btn-check-doctor", class: "btn-check" %>
            <%= f.label :choose_role, image_tag("doc.png", size: "200x200", alt: "doctor_choose", class: "rounded-circle"), class: "btn role-image btn-primary rounded-circle", for: "btn-check-doctor" %>
            <p class="fs-5">Врач</p>
          </div>
        </div>
        <%= f.submit "Войти через Google аккаунт", class: "btn btn-primary btn-lg text-white w-25 m-auto" %>
    <% end %>
    </div>
  </div>
</div>