<h2>Профиль врача</h2>
<% if @user.expert.image.attached? || @user.image.present? %>
  <p><%= image_tag(@user.expert.image.url || @user.image , size: "150x150") %></p>
<%end%>
<p><strong>ФИО:</strong> <%= @user.expert.full_name %></p>
<p><strong>Краткое описание:</strong> <%= @user.expert.description %></p>
<p><strong>Опыт:</strong> <%= @user.expert.experience %></p>
<p><strong>Образование:</strong> <%= @user.expert.education %></p>
<p><strong>Дополнительное образование:</strong> <%= @user.expert.additional_education %></p>
<p><strong>Процедуры:</strong> <%= @user.expert.procedure %></p>
<p><strong>Место работы:</strong> <%= @user.expert.medical_center %></p>
<p><strong>Адрес:</strong> <%= @user.expert.address %></p>
<p><strong>Email:</strong> <%= @user.email %></p>
<p><strong>Телефон:</strong> <%= @user.expert.phone %></p>
<p><strong>Уровень:</strong> <%=  @user.expert.level.name if @user.expert.level.present? %></p>
<p><strong>Категория:</strong> <%= @user.expert.category.name %></p>
<p><strong>Рабочие часы:</strong></p>
<p><strong>Пн:</strong> с <%= @user.expert.hw_start_monday %> до <%= @user.expert.hw_end_monday %></p>
<p><strong>Вт:</strong> с <%= @user.expert.hw_start_tuesday %> до <%= @user.expert.hw_end_tuesday %></p>
<p><strong>Ср:</strong> с <%= @user.expert.hw_start_wednesday %> до <%= @user.expert.hw_end_wednesday %></p>
<p><strong>Чт:</strong> с <%= @user.expert.hw_start_thursday %> до <%= @user.expert.hw_end_thursday %></p>
<p><strong>Пт:</strong> с <%= @user.expert.hw_start_friday %> до <%= @user.expert.hw_end_friday %></p>
<p><strong>Сб:</strong> с <%= @user.expert.hw_start_saturday %> до <%= @user.expert.hw_end_saturday %></p>
<p><strong>Вс:</strong> с <%= @user.expert.hw_start_sunday %> до <%= @user.expert.hw_end_sunday %></p>

</div>
  <div>
    <%= link_to "Редактировать", edit_expert_path(@user.expert) %>
  </div>
</div>
