<h3 class="text-center my-4">Профиль <%= @user.name %></h3>
<%= link_to "Редактировать профиль", edit_user_path(@user) %>
<p><%= image_tag(@user.image , size: "150x150") %></p>
<p>E-mail:<%= @user.email %></p>
<p>Address:<%= @user.address %></p>
<p>Phone:<%= @user.phone %></p>
<p>Birthday:<%= @user.birthday.strftime("%d of %B, %Y") if @user.birthday %></p>


<div>
  <ul>
    <li><%= link_to "Ваша карта вакцинации", user_vaccine_path(@user) %></li>
    <li><%= link_to "Дети", user_children_path(@user) %></li>
  </ul>
</div>
