<h2>Изменить профиль</h2>

<%= form_with model: @user do |f| %>
<div class="form-group">
   <%= f.label "Фото" %>
   <%= f.file_field(:image, title: @user.image.filename.to_s, direct_upload: true, class: "rounded mx-auto d-block", id: "customFile-user" ) %>
</div>
  <p>Дата рождения:</p>
  <%= f.date_field :birthday, :class => "form-control" %>
  <%= f.submit "Сохранить измениения", class: "btn btn-success w-100" %>
<% end %>
