<div class="container-fluid" id="bgimage">
  <div class="row">
    <div class="col-sm">
    </div>
    <div class="col-sm-5 border event-border shadow-sm p-3 mb-5 bg-body rounded">
      <h4 class="text-center">Спасибо за заявку!</h4>
      <h6>Спасибо за оставленную заявку на прием к врачу на MedHelper.</h6>
      <hr>
      <tr>
        <td><strong>Имя: </strong></td>
        <td><%= @event.name %></td>
      </tr>
      <br>
      <tr>
        <td><strong>Телефон: </strong></td>
        <td><%= @event.phone %></td>
      </tr>
      <br>
      <tr>
        <td><strong>Email: </strong></td>
        <td><%= @event.email %></td>
      </tr>
      <br>
      <tr>
        <td><strong>Дата: </strong></td>
        <td><%= @event.time %></td>
      </tr>
      <br>
      <tr>
        <td><strong>Комментарий: </strong></td>
        <td><%= @event.comment %></td>
      </tr>
      <br>
      <tr>
        <td><strong>Доктор: </strong></td>
        <td><%= @expert.full_name %></td>
      </tr>
      <br>
      <tr>
        <td><strong>Адрес: </strong></td>
        <td><%= @expert.address %></td>
      </tr>


    </div>
    <div class="col-sm">
    </div>
  </div>

</div>
