<div class="container">
  <div class="row">
    <div class="col-sm-8 offset-md-2">
      <div class="card card-pacient-first">
        <div class="card-header card-pacient text-center">
          Талон
        </div>
        <div class="card-body card-pacient-secondary text-center">
          <div class="row">
            <p class="text-center info-card text-uppercase">Врач</p>
            <div class="col-4 offset-md-4 text-center">
              <%= image_tag @event.expert.image, size: 150, class: "border border-info rounded-circle avatar-contain" %>
            </div>
          </div>
          <div class="row">
            <div class="col-4 offset-md-4 text-center fw-bold">
              <%= @event.expert.full_name %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-4 offset-md-4 text-center">
            <div class="fw-light"><%= @event.expert.category.name %></div>
          </div>
        </div>
        <br>
        <div class="row">
          <p class="text-center info-card text-uppercase">Пациент</p>
          <div class="col-4 offset-md-4 text-center">
            <%= image_tag @event.user.card.image, size: 150, class: "border border-info rounded-circle" %>
          </div>
        </div>
        <div class="row">
          <div class="col-4 offset-md-4 text-center">
            <%= @event.user.card.full_name %>
          </div>
        </div>
        <br>
        <div class="row info-card">
          <p class="text-center info-card text-uppercase">Информация о приеме</p>
          <div class="col-4 offset-4 text-center">
            <div class="text-info"><span><i class="fa fa-calendar"></i></span> Начало приема</div>
            <span class="fw-lighter"><%= @event.start_time.strftime('%Y-%m-%d %H:00') %></span>
          </div>
        </div>
        <div class="row">
          <div class="col-4 offset-4 text-center">
            <div class="text-info"><span><i class="fa fa-calendar"></i></span> Конец приема</div>
            <span class="fw-lighter"><%= @event.end_time.strftime('%Y-%m-%d %H:00') %></span>
          </div>
        </div>
        <div class="row">
          <div class="col-4 offset-4 text-center">
            <div class="text-info"><span><i class="fa fa-phone-alt"></i></span> Тип приема</div>
            <span class="fw-lighter"><%= @event.type_of_call %></span>
          </div>
        </div>
        <div class="row">
          <div class="col-4 offset-4 text-center">
            <div class="text-info"><span><i class="fa fa-comment"></i></span> Комментарий</div>
            <span class="fw-lighter"><%= @event.comment %></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
