<div class="container">
  <h3 class="text-center text-primary pt-4 pb-3">Карта пациента</h3>
  <div class="pacient-card bg-primary-light d-flex flex-column align-items-center">
    <%= image_tag(@card.user&.image, size: 150, class: 'text-center img-fluid mt-4') %>
    <div class="pacient-card-info bg-primary p-4 text-white m-4 row">
      <div class="d-flex flex-column">
        <p>
          <strong>ФИО: </strong>
          <span><%= @card&.full_name %></span>
        </p>
        <p>
          <strong>Пол: </strong>
          <span><%= @card&.gender %></span>
        </p>
        <p>
          <strong>Телефон: </strong>
          <span><%= @card&.phone %></span>
        </p>
        <p>
          <strong>Адрес: </strong>
          <span><%= @card&.address %></span>
        </p>
        <p>
          <strong>Место работы: </strong>
          <span><%= @card&.work %></span>
        </p>
        <p>
          <strong>Поручитель: </strong>
          <span><%= @card&.member %></span>
        </p>
        <p>
          <strong>Примечания: </strong>
          <span><%= @card&.comment %></span>
        </p>
        <%= link_to "Создать протокол приема пациента", new_user_card_protocol_path(@card.user, @card),
                    class: "btn btn-primary btn-show-event" if current_user.expert.present? %>
      </div>
    </div>
    <%= link_to "Редактировать", edit_user_card_path(@card.user, @card),
                class: "btn btn-light text-primary d-block mb-4" %>
  </div>
</div>


<h3 class="text-center text-primary pt-4 pb-3">История приемов</h3>
<% @protocols.each do |protocol| %>
  <div class="row">
    <div class="col-sm-10 offset-md-1">
      <div class="card card-pacient-first">
        <div class="card-header card-pacient text-center">
          Протокол приема № <%= @card.id + protocol.id %>
        </div>
        <div class="card-body">
          </div>
            <div class="row">
              <div class="col-sm-3">
                 <%= image_tag(@card&.image, size:150, class: 'rounded-circle card-client-show')%>
              </div>
              <div class="col-sm-9">
                <p class="fw-lighter"><strong>ФИО:</strong><%= @card&.full_name %></p>
                <p class="fw-lighter"><strong>Пол:</strong> <%= @card&.gender %></p>
                <p class="fw-lighter"><strong>Телефон:</strong> <%= @card&.phone %></p>
                <p class="fw-lighter"><strong>Адрес:</strong> <%= @card&.address %></p>
                <p class="fw-lighter"><strong>Место работы:</strong> <%= @card&.work %></p>
                <p class="fw-lighter"><strong>Поручитель:</strong> <%= @card&.member %></p>
                <p class="fw-lighter"><strong>Примечания:</strong> <%= @card&.comment %></p>
                <p class="fw-lighter"><strong>E-mail:</strong> <%= @card.user.email %></p>
                <p class="fw-lighter"><strong>Birthday:</strong> <%= @card.birthday.strftime("%d of %B, %Y")%></p><br>
                <% if current_user.expert.present? %>
                 <%= link_to "Создать протокол приема пациента", new_user_card_protocol_path(@card.user, @card), class: "btn btn-primary btn-show-event"%>
                <% else %>
                <%= link_to "Редактировать карту", edit_user_card_path(current_user, current_user.card) %><br>
                <% end %>
             </div>
           </div>
        </div>
      </div>
   </div>
</div>
<br>
<h5 class="text-center">История приемов</h5>
<% @protocols.each do |protocol| %>
<div class="row">
  <div class="col-sm-10 offset-md-1">
    <div class="card card-pacient-first">
      <div class="card-header card-pacient text-center">
        Протокол приема № <%= @card.id + protocol.id %>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-sm-2">
            <%= image_tag(protocol.expert&.image, size:80, class: 'rounded-circle card-client-show')%>
          </div>
          <div class="col-sm-8">
            <h7 class="fw-lighter"><strong><%= protocol&.expert.full_name %></strong></h7><br>
            <h8 class="fw-lighter"><strong></strong><%= protocol&.expert.category.name %></h8><br>
            <h8 class="fw-lighter"><strong>Жалобы пациента: </strong><%= protocol&.complaint %></h8><br>
            <% if protocol&.type_of_inspection == "first_visit"%>
             <span class="fw-lighter"><span class="border border-2 rounded-pill badge bg-primary text-wrap">Первичный прием</span></span><br>
            <% else %>
            <span class="fw-lighter"><span class="border border-2 rounded-pill badge bg-info text-wrap">Повторный прием</span></span><br>
            <% end %>
          </div>
          <div class="col-sm-2">
            <%= link_to "Подробнее", user_card_protocol_path(@card.user, @card, protocol), class: "btn btn-outline-dark" %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
<% end %>
