<!DOCTYPE html>
<html class="h-100">
  <head>
    <title>MedHelper</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag '//ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/le-frog/jquery-ui.min.css' %>
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">

  <body class="d-flex flex-column h-100">
  <%= render 'layouts/navbar' %>
  <div class="container">
    <%= yield %>
  </div>
  </body>
  <%= render 'layouts/footer' %>
</html>
