<div class="col-sm-3">

  <% if check_params(expert, (time = Time.new(Time.now.year, Time.now.month, Time.now.day, 0))) %>
    <%= link_to "00:00", new_expert_event_path(expert, q: time),
                class: "btn btn-outline-primary rounded",
                date_time: Time.new(Time.now.year, Time.now.month, Time.now.day, 0) %>
  <% else %>
  <% end %>

  <% if check_params(expert, (time = Time.new(Time.now.year, Time.now.month, Time.now.day, 1))) %>
    <%= link_to "01:00", new_expert_event_path(expert, q: time),
                class: "btn btn-outline-primary rounded",
                date_time: Time.new(Time.now.year, Time.now.month, Time.now.day, 1) %>
  <% else %>
  <% end %>

  <% if check_params(expert, (time = Time.new(Time.now.year, Time.now.month, Time.now.day, 2))) %>
    <%= link_to "02:00", new_expert_event_path(expert, q: time),
                class: "btn btn-outline-primary rounded",
                date_time: Time.new(Time.now.year, Time.now.month, Time.now.day, 2) %>
  <% else %>
  <% end %>

  <% if check_params(expert, (time = Time.new(Time.now.year, Time.now.month, Time.now.day, 3))) %>
    <%= link_to "03:00", new_expert_event_path(expert, q: time),
                class: "btn btn-outline-primary rounded",
                date_time: Time.new(Time.now.year, Time.now.month, Time.now.day, 3) %>
  <% else %>
  <% end %>

  <% if check_params(expert, (time = Time.new(Time.now.year, Time.now.month, Time.now.day, 4))) %>
    <%= link_to "04:00", new_expert_event_path(expert, q: time),
                class: "btn btn-outline-primary rounded",
                date_time: Time.new(Time.now.year, Time.now.month, Time.now.day, 4) %>
  <% else %>
  <% end %>

  <% if check_params(expert, (time = Time.new(Time.now.year, Time.now.month, Time.now.day, 5))) %>
    <%= link_to "05:00", new_expert_event_path(expert, q: time),
                class: "btn btn-outline-primary rounded",
                date_time: Time.new(Time.now.year, Time.now.month, Time.now.day, 5) %>
  <% else %>
  <% end %>

</div>
<div class="col-sm-3">
  <% if check_params(expert, (time = Time.new(Time.now.year, Time.now.month, Time.now.day, 6))) %>
    <%= link_to "06:00", new_expert_event_path(expert, q: time),
                class: "btn btn-outline-primary rounded",
                date_time: Time.new(Time.now.year, Time.now.month, Time.now.day, 6) %>
  <% else %>
  <% end %>

  <% if check_params(expert, (time = Time.new(Time.now.year, Time.now.month, Time.now.day, 7))) %>
    <%= link_to "07:00", new_expert_event_path(expert, q: time),
                class: "btn btn-outline-primary rounded",
                date_time: Time.new(Time.now.year, Time.now.month, Time.now.day, 7) %>
  <% else %>
  <% end %>

  <% if check_params(expert, (time = Time.new(Time.now.year, Time.now.month, Time.now.day, 8))) %>
    <%= link_to "08:00", new_expert_event_path(expert, q: time),
                class: "btn btn-outline-primary rounded",
                date_time: Time.new(Time.now.year, Time.now.month, Time.now.day, 8) %>
  <% else %>
  <% end %>
  <% if check_params(expert, (time = Time.new(Time.now.year, Time.now.month, Time.now.day, 9))) %>
    <%= link_to "09:00", new_expert_event_path(expert, q: time),
                class: "btn btn-outline-primary rounded",
                date_time: Time.new(Time.now.year, Time.now.month, Time.now.day, 9) %>
  <% else %>
  <% end %>
  <% if check_params(expert, (time = Time.new(Time.now.year, Time.now.month, Time.now.day, 10))) %>
    <%= link_to "10:00", new_expert_event_path(expert, q: time),
                class: "btn btn-outline-primary rounded",
                date_time: Time.new(Time.now.year, Time.now.month, Time.now.day, 10) %>
  <% else %>
  <% end %>
  <% if check_params(expert, (time = Time.new(Time.now.year, Time.now.month, Time.now.day, 11))) %>
    <%= link_to "11:00", new_expert_event_path(expert, q: time),
                class: "btn btn-outline-primary rounded",
                date_time: Time.new(Time.now.year, Time.now.month, Time.now.day, 11) %>
  <% else %>
  <% end %>
</div>
<div class="col-sm-3">
  <% if check_params(expert, (time = Time.new(Time.now.year, Time.now.month, Time.now.day, 12))) %>
    <%= link_to "12:00", new_expert_event_path(expert, q: time),
                class: "btn btn-outline-primary rounded",
                date_time: Time.new(Time.now.year, Time.now.month, Time.now.day, 12) %>
  <% else %>
  <% end %>
  <% if check_params(expert, (time = Time.new(Time.now.year, Time.now.month, Time.now.day, 13))) %>
    <%= link_to "13:00", new_expert_event_path(expert, q: time),
                class: "btn btn-outline-primary rounded",
                date_time: Time.new(Time.now.year, Time.now.month, Time.now.day, 13) %>
  <% else %>
  <% end %>
  <% if check_params(expert, (time = Time.new(Time.now.year, Time.now.month, Time.now.day, 14))) %>
    <%= link_to '14:00', new_expert_event_path(expert, q: time),
                class: "btn btn-outline-primary rounded",
                date_time: Time.new(Time.now.year, Time.now.month, Time.now.day, 14) %>
  <% else %>
  <% end %>
  <% if check_params(expert, (time = Time.new(Time.now.year, Time.now.month, Time.now.day, 15))) %>
    <%= link_to '15:00', new_expert_event_path(expert, q: time),
                class: "btn btn-outline-primary rounded",
                date_time: Time.new(Time.now.year, Time.now.month, Time.now.day, 15) %>
  <% else %>
  <% end %>
  <% if check_params(expert, (time = Time.new(Time.now.year, Time.now.month, Time.now.day, 16))) %>
    <%= link_to '16:00', new_expert_event_path(expert, q: time),
                class: "btn btn-outline-primary rounded",
                date_time: Time.new(Time.now.year, Time.now.month, Time.now.day, 16) %>
  <% else %>
  <% end %>
  <% if check_params(expert, (time = Time.new(Time.now.year, Time.now.month, Time.now.day, 17))) %>
    <%= link_to '17:00', new_expert_event_path(expert, q: time),
                class: "btn btn-outline-primary rounded",
                date_time: Time.new(Time.now.year, Time.now.month, Time.now.day, 17) %>
  <% else %>
  <% end %>
</div>
<div class="col-sm-3">
  <% if check_params(expert, (time = Time.new(Time.now.year, Time.now.month, Time.now.day, 18))) %>
    <%= link_to '18:00', new_expert_event_path(expert, q: time),
                class: "btn btn-outline-primary rounded",
                date_time: Time.new(Time.now.year, Time.now.month, Time.now.day, 18) %>
  <% else %>
  <% end %>
  <% if check_params(expert, (time = Time.new(Time.now.year, Time.now.month, Time.now.day, 19))) %>
    <%= link_to '19:00', new_expert_event_path(expert, q: time),
                class: "btn btn-outline-primary rounded",
                date_time: Time.new(Time.now.year, Time.now.month, Time.now.day, 19) %>
  <% else %>
  <% end %>
  <% if check_params(expert, (time = Time.new(Time.now.year, Time.now.month, Time.now.day, 20))) %>
    <%= link_to '20:00', new_expert_event_path(expert, q: time),
                class: "btn btn-outline-primary rounded",
                date_time: Time.new(Time.now.year, Time.now.month, Time.now.day, 20) %>
  <% else %>
  <% end %>
  <% if check_params(expert, (time = Time.new(Time.now.year, Time.now.month, Time.now.day, 21))) %>
    <%= link_to '21:00', new_expert_event_path(expert, q: time),
                class: "btn btn-outline-primary rounded",
                date_time: Time.new(Time.now.year, Time.now.month, Time.now.day, 21) %>
  <% else %>
  <% end %>
  <% if check_params(expert, (time = Time.new(Time.now.year, Time.now.month, Time.now.day, 22))) %>
    <%= link_to '22:00', new_expert_event_path(expert, q: time),
                class: "btn btn-outline-primary rounded",
                date_time: Time.new(Time.now.year, Time.now.month, Time.now.day, 22) %>
  <% else %>
  <% end %>
  <% if check_params(expert, (time = Time.new(Time.now.year, Time.now.month, Time.now.day, 23))) %>
    <%= link_to '23:00', new_expert_event_path(expert, q: time),
                class: "btn btn-outline-primary rounded",
                date_time: Time.new(Time.now.year, Time.now.month, Time.now.day, 23) %>
  <% else %>
  <% end %>
</div>
