<div class = "container">
  <div class="row border expert- shadow p-3 mb-5 bg-body rounded">
    <div class="row col-sm-8">
      <div class="col-sm-3">
        <%= image_tag("image2.png", size: "150x150") %>
      </div>
      <div class="col-sm-9 border-right">
        <h4><%= @expert.full_name %></h4>
        <div class="col-sm-6">
         <h6 class="text-secondary"><%= @expert.category.name %></h6>
        </div>
        <div class="col-sm-6">
         <strong><%= @expert.level.name%></strong>
        </div>

        <div class="col-sm-6">
         <span class="badge rounded-pill bg-success"><%= @expert.experience%></span><span> лет опыта</span>
        </div>
        <div class="col-sm-12">
         <h8><%= truncate(@expert.description, length: 700, separator: '.')%></h8>
        </div>
     </div>
    </div>
  </div>

  <div class="row border shadow p-3 mb-5 bg-body rounded">
        <h5 class="text-secondary">Образование:</h5>
        <ul>
          <h10 class="font-weight-normal"><%= @expert.education%></h10>
        </ul>
        <h5 class="text-secondary">Дополнительное образование:</h5>
        <ul>
          <h10 class="font-weight-normal"><%= @expert.additional_education%></h10>
        </ul>
        <h5 class="text-secondary">Выполняет процедуры: </h5>
        <ul>
          <h10 class="font-weight-normal"><%= @expert.procedure%></h10>
        </ul>

  </div>
</div>
