<div class="container">
  <div class="row border expert- shadow p-3 mb-5 bg-body rounded">
    <div class="row col-sm-8">
      <div class="col-sm-3">
         <%= image_tag(@expert.image, size: "150x150", class: "avatar-contain") %>
      </div>
      <div class="col-sm-9 border-right">
        <h4><%= @expert.full_name %></h4>
        <div class="my-2">
          <p>Рейтинг <i class='fas fa-star fa-lg gold-star'></i><%= @expert.rating %></p>
          <p>Количество отзывов: <%= @expert.comments.count %></p>
          <span>Рекомендации:
            <i class="fas fa-thumbs-up fa-lg text-success px-1"></i><%= recommendent_count(true) %>
            <i class="fas fa-thumbs-down fa-lg text-danger px-1"></i><%= recommendent_count(false) %>
          </span>
        </div>

        <div class="col-sm-6">
          <h6 class="text-secondary"><%= @expert.category.name %></h6>
        </div>
        <div class="col-sm-6">
          <strong><%= @expert.level.name if @expert.level.present? %></strong>
        </div>

        <div class="col-sm-6">
          <span class="badge rounded-pill bg-success"><%= @expert.experience %></span><span> лет опыта</span>
        </div>
        <div class="col-sm-12">
          <h8><%= truncate(@expert.description, length: 700, separator: '.') %></h8>
        </div>
      </div>
    </div>
  </div>

  <div class="row border shadow p-3 mb-5 bg-body rounded">
    <h5 class="text-secondary">Образование:</h5>
    <ul>
      <h10 class="font-weight-normal"><%= @expert.education %></h10>
    </ul>
    <h5 class="text-secondary">Дополнительное образование:</h5>
    <ul>
      <h10 class="font-weight-normal"><%= @expert.additional_education %></h10>
    </ul>
    <h5 class="text-secondary">Выполняет процедуры: </h5>
    <ul>
      <h10 class="font-weight-normal"><%= @expert.procedure %></h10>
    </ul>
  </div>

  <div>
    <h4>Комментарии</h4>
    <%= link_to "Add comment", new_comment_path(expert_id: @expert), method: :get, class: "btn btn-small btn-primary" %>

    <% if @expert.comments.present? %>
      <div class="m-2 d-flex-column">
        <% @expert.comments.each do |comment| %>
          <div class="col- pt-4 bg-white mb-3">
            <strong class="p-2"><%= comment.user.email %></strong>
            <strong class="text-right p-2"><%= render_stars(comment.rating) %></strong>
            <p class="p-3 m-0"><%= comment.body %></p>
            <div class="p-3">
              <span>Рекомендация </span>
              <% if comment.recommendation == true %>
                <i class="fas fa-thumbs-up fa-lg text-success"></i>
              <% else %>
                <i class="fas fa-thumbs-down fa-lg text-danger"></i>
              <% end %>
            </div>
            <div class="text-right p-1 btn-group-sm">
              <% if current_user == comment.user %>
                <%= link_to 'Edit', edit_comment_path(comment), class: "btn btn-secondary" %>
                <%= link_to 'Delete', comment_path(comment), method: :delete, class: "btn btn-danger", data: { confirm: 'Удалить комментарий?' } %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    <% else %>
      <p>Никто не пишет((</p>
    <% end %>
  </div>
</div>
